// Theme Colors
$theme-colors: (
  primary: #0d2f80,
  success: #21d398,
  info: #2583de,
  warning: #ffbd00,
  danger: #e61739,
  secondary: #0d2f80,
  light: #ffffff,
  dark: #171b27
);

// Spacing

$spacer: 1.5rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .50),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;

// Body
$body-bg:       #131929;

// Fonts
$font-family-sans-serif: "Raleway", Roboto, sans-serif;
$font-family-content: "Raleway", sans-serif;

$font-size-root: 16px;

//Navbar
$navbar-padding-y: 0.75rem;
$navbar-padding-x: 0;